h1 {
  color: white;
}

body {
  background-color: black;
}

body {
  background-color: black;
}

main {
  background-color: black;
}

html {
  background-color: black;
}

section {
  background-color: black;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

ol {
  color: white;
}

label {
  color: white;
}

nav {
  display: grid;
  grid-template-areas: "desktop" "nav";
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px;
  justify-items: center;
  background-color: rgb(42, 42, 42);
  padding-top: 30px;
  font-size: 35px;
}
nav img.mobile {
  display: none;
}
nav img {
  width: 200px;
}
nav .desktop {
  display: block;
  grid-area: desktop;
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  grid-area: nav;
  list-style: none;
}
nav ul li a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: white;
}

.container-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  color: white;
}
.container-index h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.container-index p {
  font-size: 16px;
  line-height: 1.5;
  margin-right: 100px;
}
.container-index .mobile {
  display: none;
}

.imagen {
  justify-self: center;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.content {
  padding: 20px;
  text-align: justify;
}

.menutitulo {
  color: black;
}

.titulo-galeria {
  text-align: center;
  background-color: black;
  color: white;
}

.galeria-index {
  display: flex;
  width: auto;
  height: 430px;
}
.galeria-index img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.galeria-index img:hover {
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.parrafo-quienes {
  margin: 50px;
}

.titulo1 {
  text-align: center;
  margin: auto black;
}

.container {
  background-color: black;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-footer {
  padding: 10px;
  margin: 0 45px;
}
.item-footer a {
  text-decoration: none;
}
.item-footer a:hover img {
  opacity: 0.8;
}
.item-footer img {
  width: 10%;
  margin-right: 2%;
}

footer.footer img {
  width: 200px;
}
footer.footer h3 {
  font-size: 20px;
}

@media (max-width: 1024px) {
  nav {
    grid-template-areas: "mobile" "nav" "nav";
    grid-template-columns: 1fr;
    grid-template-rows: 10px 10px;
    font-size: 15px;
    align-items: center;
  }
  nav img.desktop {
    display: none;
  }
  nav img.mobile {
    display: block;
    width: 75px;
  }
  nav ul {
    flex-direction: column;
    list-style: none;
  }
  nav ul li {
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .container-index {
    grid-template-columns: 1fr;
  }
  .container-index p {
    margin-right: 0;
  }
  .container-index .mobile {
    display: block;
    width: justify;
    margin: 10px;
  }
  .container-index .content {
    display: none;
  }
  .imagen {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1024px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  .item-footer {
    margin: 10px 0;
    text-align: center;
  }
  footer.footer img {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
